include LICENSE
graft wagtail_footnotes
prune **/__pycache__
global-exclude *.py[co]
global-exclude .DS_Store
recursive-include wagtail_footnotes/static/footnotes/js
recursive-include wagtail_footnotes/templates/wagtail_footnotes
prune **/tests
